@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-position: center;
  background-size: cover;
}

.header {
  background-color: rgba(0, 0, 0, 0.664);
}
.header a.logo {
  font-size: 25px;
  font-weight: 600;
  color: #b8c8f7;
  text-decoration: none;
}
.header .navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  margin-left: 35px;
  font-weight: 500;
  transition: 0.3s;
}
.header .navbar a:hover, .header .navbar a.active {
  color: #fff;
}

.section-home {
  background: url("../img/teste1.jpg") no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.section-home .form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-home .form-box h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.section-home .form-box p {
  color: white;
  text-align: center;
}
.section-home .form-box .inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.section-home .form-box .inputbox svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  fill: white;
}
.section-home .form-box .inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
  font-size: 1em;
  transition: 0.5s;
}
.section-home .form-box .inputbox input:focus ~ label,
.section-home .form-box .inputbox input:valid ~ label {
  top: -5px;
}
.section-home .form-box .inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}
.section-home .form-box .inputbox input ion-icon {
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 1.2em;
  top: 23px;
}
.section-home .form-box button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #3f51b5;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  transition: background 0.3s, color 0.3s;
}
.section-home .form-box button:hover {
  background: #0b27c9;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.popup .popup-content {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.popup .popup-content #closePopup {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
